/* utilities */
.bolt {
  border: 4px solid rgba(0,0,0,0);
  border-bottom: 22px solid #ffdf00;
  transform: rotateZ(-160deg);
  padding: 2px;
  width: 0;
  height: 0;
  margin: 0;
  overflow: visible;
  border-top: 0 solid;
  border-radius: 0;
  transform-origin: 50% 50% 0;
}

.bolt:after {
  content: "";
  top: -9px;
  left: -8px;
  border: 5px solid rgba(0,0,0,0);
  border-bottom: 25px solid #ffdf00;
  transform: rotateZ(4deg);
  padding: 0;
  width: 0;
  height: 0;
  position: absolute;
  margin: 0;
  overflow: visible;
  border-top: 0 solid;
  border-radius: 0;
  transform-origin: 50% 50% 0;
}





.App {
  background-color: #282c34;
  min-height: 100vh;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

}

.App-link {
  color: #61dafb;
}

.signOutButton{

  float: right;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  padding: 0.25em 0.5em;
  font-size: 16px;
}
.signInButton{
  align-items: center;
  background-image: linear-gradient(144deg,#dcff40, #f3a042 50%,#eb0000);
  border: 5;
  border-radius: 10px;
  box-shadow: rgba(177, 46, 13, 0.904) 0 5px 20px -5px;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration:wavy;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 600
  
}
.signInButton:active,
.signInButton:hover {
  background-color: #1e293b;
  color: #fff;
}

.head{
  height: 2rem;
  background-color: azure;
  padding: 0.5rem;
  /* display: none; */
  /* display: none; */  /* before logging in display none -  after display flex or smth*/  
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 3.5rem);

}

.signInSection{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 30%;
  -webkit-box-shadow: 7px 7px 51px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 7px 51px 7px rgba(0,0,0,0.75);
  box-shadow: 7px 7px 51px 7px rgba(0,0,0,0.75);  padding: 1rem;
  margin: 10rem;
  background-color: #213644;
  border-radius: 80px;
  opacity: 1;

}
.container {
  position: absolute;
  right: 450px;
  top: -50px;
  margin: 12% auto;
  width: 850px;
  height: 550px;
}
.chatbox {
  position: absolute; 
  left: 35%;
  height: 75%;
  width: 60%;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(#777777, 0.5);
}
.top-bar {
  width: 100%;
  height: 60px;
  background:  #F9FBFF;
  border-radius: 10px 10px 0 0;
}
.avatar {
  width: 35px;
  height: 35px;
  background: linear-gradient(to bottom left, #79C7C5 20%, #A1E2D9 100%);
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 15px;
}
.name {
  position: absolute;
  top: 22px;
  text-transform: uppercase;
  color: #777777;
  font-size: .8em;
  letter-spacing: 2px;
  font-weight: 500;
  left: 60px;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 10px;
  height: 20px;
  cursor: pointer;
}
.menu:hover {
    transform: scale(1.1);
    transition: all .3s ease-in;
  }
.icons {
  position: absolute;
  color: #A1E2D9;
  padding: 10px;
  top: 5px;
  right: 21px;
  cursor: pointer;
}
.dots {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #79C7C5;
  box-shadow: 0px 7px 0px #79C7C5, 0px 14px 0px #79C7C5;
}
.middle {
  position: absolute;
  background:  #F9FBFF;
  width: 100%;
  opacity: 0.85;
  top: 60px;
  height: 80%;
}
.bottom-bar {
  position: absolute;
  width: 100%;
  height: 55px;
  bottom: 0;
  background:  #F9FBFF;
  border-radius: 0 0 10px 10px;
}
input {
  padding: 7px;
  width: 74%;
  left: 5%;
  position: absolute;
  border: 0;
  top: 13px;
  background: #F9FBFF;
  color: #79C7C5;
}
.send {
  position: absolute;
  border: 0;
  font-size: 1em;
  color: darkcyan;
  top:  19px;
  opacity: 0.8;
  right: 17px;
  cursor: pointer;
  outline: 0;}
.send:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
    color: lightseagreen;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}