body{
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

html, body {
  height: 100%;
}

p{
  margin: 0px;
  padding: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* utilities */

.bolt {
  border: 4px solid rgba(0,0,0,0);
  border-bottom: 22px solid #ffdf00;
  transform: rotateZ(-160deg);
  padding: 2px;
  width: 0;
  height: 0;
  margin: 0;
  overflow: visible;
  border-top: 0 solid;
  border-radius: 0;
  transform-origin: 50% 50% 0;
}
a{
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  float: left;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
li:hover{
  color:#244254;
  background-color: #1e293b;
}

.bolt:after {
  content: "";
  top: -9px;
  left: -8px;
  border: 5px solid rgba(0,0,0,0);
  border-bottom: 25px solid #ffdf00;
  transform: rotateZ(4deg);
  padding: 0;
  width: 0;
  height: 0;
  position: absolute;
  margin: 0;
  overflow: visible;
  border-top: 0 solid;
  border-radius: 0;
  transform-origin: 50% 50% 0;
}
.App {
  background-color: #244254;
  width:100%;
  height:90%;
  align-items: flex-start;
  justify-content: center;
}
.App-logo {
  float:left;
  height: 30px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {

} */

.App-link {
  color: #61dafb;
}

.signOutButton{

  float: right;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  padding: 0.25em 0.5em;
  font-size: 16px;
}
.signInButton{
  align-items: center;
  background-image: linear-gradient(144deg,#dcff40, #f3a042 50%,#eb0000);
  border: 5;
  border-radius: 10px;
  box-shadow: rgba(177, 46, 13, 0.904) 0 5px 20px -5px;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 200px;
  padding: 19px 24px;
  text-decoration:wavy;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 600
  
}
.signInButton:active,
.signInButton:hover {
  background-color: #1e293b;
  color: #fff;
}

.head{
  height: 2rem;
  background-color: azure;
  padding: 0.5rem;
  display: none;
  /* display: none; */  /* before logging in display none -  after display flex or smth*/  
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: calc(100vh - 3.5rem);
  width:  100%;
}

.signInSection{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 30%;
  -webkit-box-shadow: 7px 7px 51px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 7px 51px 7px rgba(0,0,0,0.75);
  box-shadow: 7px 7px 51px 7px rgba(0,0,0,0.75);  padding: 1rem;
  margin: 3rem;
  background-color: #244254;
  border-radius: 80px;
  opacity: 1;
}

#ChatviewContainer{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.container {
  width: 50%;
  height: 65%;
}
.chatbox {
   height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(#777777, 0.5);
}

.chat{
  height: 100%;
  overflow-y: scroll
}
.sendButton, .messageInput{
  display: inline;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  height: 50px;
}
.messageInput{
  width: 90%;

}
.sendButton{
  width: 10%;
  border-radius: 5px;
  
}

.input{
  /* width: 500px; */
}
.top-bar {
  height: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  background:  #eff1f7;
  border-radius: 10px 10px 0 0;
}
.sendForm{
  height: 20%;
}
.avatarPhoto {
  width: 30px;
  height: 30px;
  
  
  border-radius: 50%;
}
.name {
  width: 88%;
  padding-left: 1rem;
  text-transform: uppercase;
  color: #777777;
  font-size: .8em;
  letter-spacing: 2px;
  font-weight: 500;
}
.menu {
  right: 10px;
  width: 10px;
  height: 20px;
  cursor: pointer;
}
.menu:hover {
    transform: scale(1.1);
    transition: all .3s ease-in;
  }
.icons {
  color: #A1E2D9;
  padding: 10px;
  top: 5px;
  right: 21px;
  cursor: pointer;
}
.dots {
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: #79C7C5;
  box-shadow: 0px 7px 0px #79C7C5, 0px 14px 0px #79C7C5;
}
.middle {
  background:  #F9FBFF;
  width: 100%;
  opacity: 0.85;
  height: 91%;
}
.bottom-bar {
  width: 100%;
  height: 55px;
  background:  #F9FBFF;
  border-radius: 0 0 10px 10px;
}
/* input {
  padding: 7px;
  width: 88%;
  left: 5%;
  border: 0;
  top: 13px;
  background: #F9FBFF;
  color: #79C7C5;
} */
.send {
  border: 0;
  font-size: 1em;
  color: darkcyan;
  opacity: 0.8;
  right: 17px;
  cursor: pointer;
  background: #F9FBFF;
  outline: 0;}
.send:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
    color: lightseagreen;
  }
.userName{
font-size: 15px;
font-weight: bold;
}
.userSent{
  color: #4161d3;
  text-align: right;
  margin-right: auto;
 display: block;
 margin-right: 5px;
}
.userReceived{
  color: #2cd765;
  margin-left: 5px;
}

.message{
 
  background-color: #d9e7f3;
  display: flex;

  margin: 5px;
  min-height: 50px;
  height: auto;
  border-radius: 10px;
  text-align: center;
  max-width: 100%;
  padding: 5px;
}
.messagePhoto{
  border-radius: 10px;
  width: 50px;
  height: 50px;
 
}
.messageTextContainer{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}
.sent {
  flex-direction: row-reverse;
}
.messageText{
 font-size: 15px;
 margin-left: 5px;
 margin-right: 5px;

}
.messagePhoto, .messageText{


}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content{
  max-width: 650px;
  max-height: 650px;
  margin: 60px 60px;
  
}


  .content .info h2{
    font-size: 35px;
    line-height: 40px;
  }

  .content .info h2 span{
    font-size: 40px;
    font-weight: 800;
    color: #C7D0D8;
  }

  .content .info p{
    font-size: 20px;
    font-weight: 500;
    color: #C7D0D8;
  }

  header{
    position: relative;
    top: 0;
   
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C7D0D8;
  }

  header .logo{
    position: relative;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
   
  }
  .img{
    float:left;
    width:42px;
    height:40px
  }
  
 
  /* FOOTER COMP */
  .footerWrapper{
    background-color: #6797b4; 
    /* background: linear-gradient(to bottom left, #667e7d 20%, #85b1ac 100%); */

    padding: 1rem;
  }
  .footer{
    
    display: flex;
  
  }
  .footerContentContainer{
    width: 33%;
    text-align: center;
  }
  .footerContentTitle{
    color: rgba(229, 226, 226, 0.966);
  }
  .footerAbout{
    max-width: 30em;
  }
  .footerLink{
    color: rgba(6, 44, 66, 0.918);
    font-size: 1.5rem;
    
  }
  .footerLink:hover{

    transform:scale(1.1);
    color: whitesmoke;
  }
  
  